In [ ]:
Day 4

In [ ]:
***Organising the list data type***

In [1]:
cars=['Kia','benz','audi','bmw','suzuki','maruthi','mahindra']

In [2]:
print(cars)

['Kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi', 'mahindra']

In [4]:
type(cars)

list

In [ ]:
#Want to arrange the above cars in alphabetical order

In [ ]:
2 possible approaches:

In [ ]:
1.Temporary approach: We can able to maintain the original order ====> sorted

In [ ]:
2.Permanent approach: Changed are fixed, cant go back to original order ===> sort

In [ ]:
#Temporary approach

In [10]:
cars=['benz','audi','bmw','suzuki','maruthi','mahindra']

In [11]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'mahindra', 'maruthi', 'suzuki']

In [12]:
print(cars)

['benz', 'audi', 'bmw', 'suzuki', 'maruthi', 'mahindra']

In [ ]:
# Permanent approach

In [13]:
cars.sort()

In [14]:
print(cars)

['audi', 'benz', 'bmw', 'mahindra', 'maruthi', 'suzuki']

In [15]:
print(cars)  #once it is orderes the order doesnt change

['audi', 'benz', 'bmw', 'mahindra', 'maruthi', 'suzuki']

In [ ]:
#To print the list in reverse order ***

In [16]:
print (cars)

['audi', 'benz', 'bmw', 'mahindra', 'maruthi', 'suzuki']

In [17]:
cars.reverse()

In [18]:
print(cars)

['suzuki', 'maruthi', 'mahindra', 'bmw', 'benz', 'audi']

In [19]:
print(cars)

['suzuki', 'maruthi', 'mahindra', 'bmw', 'benz', 'audi']

In [ ]:
#To count the number of elements in the list

In [20]:
len(cars)

6

In [ ]:
****Slicing the list****

In [21]:
students=['veera','shine','jeevika','shymala','gayathiri','swashikha']

In [22]:
print(students)

['veera', 'shine', 'jeevika', 'shymala', 'gayathiri', 'swashikha']

In [ ]:
Syntax: start_value:stop_value ====> Indexing

In [ ]:
Note 1: Last value or stop value is always exclusive, that means it will be included in the part of the slice
    
Note 2: Increment the index by 1 to include the last value or stop value

In [ ]:
#Want to include 2 students in same slice

In [23]:
print(students[0:1])

['veera']

In [24]:
print(students[0:2])  # To include 2 students in same slice we need to increment index by 1 ==> Note 2

['veera', 'shine']

In [25]:
print(students[2:4])

['jeevika', 'shymala']

In [26]:
print(students[4:6])

['gayathiri', 'swashikha']

In [ ]:
#Alternative count : Step count

In [27]:
print(students[0:6:2])

['veera', 'jeevika', 'gayathiri']

In [28]:
print(students[1:6:3])

['shine', 'gayathiri']

In [29]:
print(students[0:6:3])

['veera', 'shymala']

In [30]:
print(students[:])

['veera', 'shine', 'jeevika', 'shymala', 'gayathiri', 'swashikha']

In [31]:
print(students[1:])

['shine', 'jeevika', 'shymala', 'gayathiri', 'swashikha']

In [32]:
print(students[:3])

['veera', 'shine', 'jeevika']